@tailwind base;
@tailwind components;
@tailwind utilities;

/* 폰트 추가 */
@font-face {
  font-family: 'interop';
  src: url('@/assets/fonts/Interop-ExtraBold.otf') format('otf');
  font-weight: 800;
}

@font-face {
  font-family: 'interop';
  src: url('@/assets/fonts/Interop-Bold.otf') format('otf');
  font-weight: 700;
}

@font-face {
  font-family: 'interop';
  src: url('@/assets/fonts/Interop-SemiBold.otf') format('otf');
  font-weight: 600;
}

@font-face {
  font-family: 'interop';
  src: url('@/assets/fonts/Interop-Medium.otf') format('otf');
  font-weight: 500;
}

@font-face {
  font-family: 'interop';
  src: url('@/assets/fonts/Interop-Regular.otf') format('otf');
  font-weight: 400;
}

@font-face {
  font-family: 'interop';
  src: url('@/assets/fonts/Interop-Light.otf') format('otf');
  font-weight: 300;
}

@font-face {
  font-family: 'interop';
  src: url('@/assets/fonts/Interop-ExtraLight.otf') format('otf');
  font-weight: 200;
}

@font-face {
  font-family: 'interop';
  src: url('@/assets/fonts/Interop-Thin.otf') format('otf');
  font-weight: 100;
}

body {
  touch-action: pan-y;
  font-family: 'interop', sans-serif;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

/* 페이지가 나타날 때 (enter) */
.fade-enter {
  opacity: 0;
  transform: translateY(10px); /* 살짝 아래에서 올라오는 효과 */
}
.fade-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition:
    opacity 300ms ease-out,
    transform 300ms ease-out;
}

/* 페이지가 사라질 때 (exit) */
.fade-exit {
  opacity: 1;
  transform: translateY(0);
}
.fade-exit-active {
  opacity: 0;
  transform: translateY(-10px); /* 살짝 위로 사라지는 효과 */
  transition:
    opacity 300ms ease-in,
    transform 300ms ease-in;
}
